:root {
    --Catamaran: 'Catamaran', sans-serif;
    --WhiteBlue: #99BAED;
    --yellow: #FBB400;
    --darkblue: #163561;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    overflow: hidden;
    .Vector1 {
        margin-right: 1900px;
        margin-bottom: 400px;
        position: absolute;
    }

    .Vector2 {
        margin-bottom: 405px;
    }
}

.about__paragraph {
    display: flex;
    flex-direction: column;
    gap: 0px 48px;
    margin-left: 149px;

    .about__heading {
        color: var(--darkblue);
        font-family: var(--Catamaran);
        font-size: 70px;
        font-weight: 700;
        line-height: 150.6%;
        letter-spacing: 2.1px;
        margin-bottom: 32px;

        .about__heading--yellow {
            color: var(--yellow);
            font-family: var(--Catamaran);
            font-size: 70px;
            font-weight: 700;
            line-height: 150.6%;
            letter-spacing: 2.1px;
        }
    }

    .about__text {
        color: var(--darkblue);
        font-family: var(--Catamaran);
        font-size: 25px;
        font-weight: 400;
        line-height: 150.6%;
        letter-spacing: 0.75px;
        width: 526px;
        margin-bottom: 60px;
    }

    .about__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: #FFF;
        font-family: var(--Catamaran);
        font-size: 20px;
        font-weight: 700;
        line-height: 150.6%;
        letter-spacing: 0.6px;
        border-radius: 20px;
        background: var(--WhiteBlue);
        padding: 23px 41px;
        max-width: 200px;
        height: 75px;
        transition: 0.3s ease;
        box-shadow: 0px 10px 10px 1px rgba(153, 186, 237, 0.50);
        cursor: pointer;
        margin-top: 68px;

        &:hover {
            background-color: white;
            color: var(--WhiteBlue);
            border: 2px solid var(--WhiteBlue);
        }

        &:active {
            transform: scale(0.8);
        }
    }
}